.video__container {
  position: relative;
}

.video__img {
    width: 100%;
    height: 57.1875vw;
    margin: 16px 0 32px 0;
  }

  video {
    position: absolute;
    width: 90vw;
    top:130px;
    height: 8vh;
    margin: 0 5vw;
  }
  
.section {
  margin: 0 5vw;

  &__heading {
    margin: unset;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

.author-date {
  padding-bottom: 32px;
}

.date {
  padding-left: 2.5vw;
  color: $silver;
}

.views-likes {
  display: flex;
  width: 90vw;
  padding-bottom: 24px;
  border-bottom: 2px solid $mercury;
}

.views, .likes {
  padding-right: 2.5vw;
}

.number {
  padding-right: 7.5vw;
}

.description-text {
  font-family: 'AvenirNextRegular';
  padding-top: 24px;
  font-size: 14px;
}

.comment__avatar-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.form-container {
  border-bottom: 2px solid $mercury;
  display: flex;
  flex-direction: row;
}

.form {
  width: 65vw;
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
}

.form-label {
  font-size: 14px;
}
.comments-heading {
  margin: 40px 0 32px;
}

.form-label {
  color: $silver;
  margin: unset;
}

.form-container {
  display: flex;
  flex-direction: row;
}

.form {
  margin-left: 5vw;
}

.form-input {
  height: 30vw;
  width: 70vw;
  margin-bottom: 15px;
  border: 2px solid $brainflix-blue;
  background-color: $alabaster;
  border-radius: 5px;
  padding: 8px;
}

.comment__avatar-img {
  margin-top: 10%;
}

.form-submit {
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 0 10px;
    margin: 0 0 24px 0;
    display: block;
    height: 48px;
    width: 70vw;
    background-color: $brainflix-blue;
    border-radius: 5px;
    color: $white;
    text-transform: uppercase;
}

.comment-comment {
  font-family: 'AvenirNextRegular';
}



/* -------- Media Querry: Tablet -------- */

@include medium {

video {
    position: absolute;
    top: 350px;
    left: 100px;
    width: 67.578125vw;
    height: 10vw
  }

  .video__img {
    background-color: $black;
    background-position: center;
    background-size: cover;
    margin: 0 0 48px;
  }

  .section {
   margin: 0 3.125vw;
  }

  .section__heading {
    margin-bottom: 24px;
      }

  .author-date {
    display: inline-block;
    padding-bottom: unset;
  }

  .views-likes {
    display: block;
    padding-bottom: unset;
    display: flex;
    float: right;
    width: 28.5vw;
    border-bottom: unset;
    
  }
  .number {
    padding-right: unset;
  }

  .likes {
    padding-right: 1.042vw;
    padding-left: 3.125vw;
  }

  .description-text {
    font-family: 'AvenirNextRegular';
    margin-top: 24px;
    padding: 40px 0 64px;
    border-top: 2px solid $mercury;
  }

  .comments-heading {
    margin-top: unset;
  }

  .form-input  {
    width: 54vw;
    height: 48px;
  }

  .form {
    display: inline;
  }
  
  .form-submit {
    float: right;
    width: 20.83vw;
    height: 48px;
    margin: 0 5.2083vw 0 2.083vw ;

  }
}

/* -------- Media Querry: Desktop -------- */

@include large {

.section {
  margin-left: 12.5vw;
  position: relative;
  display: inline-block;
  width: 49.44vw;
}

.video__img {
  margin-bottom: 40px;
}

.description-text {
    margin-bottom: 0;
    padding-bottom: 40px;
  }

video {
  top: 740px;
  left: 100px;
  width: 67.578125vw;
  height: 5vw;
}



}