.header__container {
    margin: 0 3.125vw;
    display: flex;
    flex-direction: column;

    &__logo {
    margin:  24px 0 24px;
    }
}

.header__search {
    position: relative;
    width: 93.5vw;
    height: 48px;
    margin-bottom: 8px;
    border-radius: 5px;
    padding-left: 40px;

    &-content {
    text-align: center;
    margin-left: 0;
    }
}


.header__seach-content {
    margin-left: 0;
}

.header__logo {
    padding: 24px 0;
    display: flex;
    margin: 0 auto;
}

.header__wrap-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header__search-icon {
    position: absolute;
    display: flex;
    top: 89px;
    left: 28px;
}

.header__avatar-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 3vw;
}

.header__upload-btn {
    width: 75vw;
    height: 48px;
    border-radius: 5px;
    background-color: $brainflix-blue;
    border: none;
    font-size: 16px;

}

.header__link {
    text-decoration: none;
    color: $white;
}



/* -------- Media Querry: Tablet -------- */
@include medium {
.header__container {
    height: 80px;
    margin: 2.083vw 3.125vw 0;
    display: flex;
    flex-direction: row;
    }

.header__search-content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    }

.header__upload-btn {
    width: 15vw;
    height: 48px;
    border-radius: 5px;
    background-color: $brainflix-blue;
    color: $white;
    font-size: 16px;
    }

.header__search-icon {
    position: absolute;
    top: 49px;
    left: 324px;
    }

.header__search {
    position: relative;
    height: 48px;
    border-radius: 5px;
    margin-bottom: unset;
    margin-right: 3.125vw;
    margin-left: 22vw;
    padding-left: 40px;
    width: 30vw;
    }
}


/* -------- Media Querry: Desktop -------- */

@include large {
    
    .header__container {
    margin: 0 12.5vw;
    display: flex;
    flex-direction: row;
    }

    .header__search {
    position: relative;
    width: 20vw;
    height: 48px;
    border-radius: 5px;
    margin-bottom: unset;
    // margin-left: 35.3472vw;
    margin-right: 3.125vw;
    }

    .header__search-icon {
    position: absolute;
    top: 34px;
    left: 630px;
    }

    .header__upload-btn {
    width: 8vw;
    height: 48px;
    border-radius: 5px;
    background-color: $brainflix-blue;
    color: $white;
    font-size: 16px;
    }

    .header__avatar-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 1.667vw;
}
}