
.upload {
    margin: 0 3.125vw;
    height: 140vw;

    &__title {
    border-top: 2px solid $mercury;
    padding-top: 24px;
    }

    &__header {
        font-size: 16px;
        color: $silver;
        margin-bottom: unset;
        margin-bottom: 10px;
    }

    &__img {
        width: 90vw;
        border-radius: 6px;
        margin-bottom: unset;
        margin-bottom: 32px;
    }

    &__label {
        font-size: 16px;
        color: $silver;
        margin: unset;
    }

    &__input {
        height: 15vw;
        width: 100%;
        margin-bottom: 24px;
        border: 2px solid $mercury;
        background-color: $alabaster;
        border-radius: 5px;
        padding: 8px;
        font-size: 14px;
    }

    &__description {
        height: 44.6875vw;
        width: 100%;
        border: 2px solid $mercury;
        background-color: $alabaster;
        border-radius: 5px;
        padding: 8px;
        font-size: 14px;

    }

    &__publish {
        width: 100%;
        height: 48px;
        border-radius: 5px;
        background-color: $brainflix-blue;
        color: $white;
        border: none;
        font-size: 16px;
        margin: 32px 0 24px 0;
    }

    &__cancel {
        background-color: $white;
        color: $brainflix-blue;
        height: 48px;
        border-radius: 5px;
        width: 100%;
        font-size: 16px;
        border: none;
    }
}



/* -------- Media Querry: Tablet -------- */
@include medium {

.header__container {
    height: 80px;
    margin: 2.083vw 3.125vw 0 3.125vw;
    display: flex;
    flex-direction: row;  
}

.header__search-bar {
    margin-left: 18vw;
    width: 32.8125vw;
}

.header__search-icon {
    left: 40vw;
}

 .upload {

    &__title {
    padding-top: 48px;
    }
    
    &__img {
    width: 44.79167vw;
    height: 23.828125vw;
    }
    
    &__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    &__input, &__description {
        font-size: 16px;
        padding-left: 35px;
    }

    &__publish, &__cancel {
        width: 20.83vw;
        margin: 40px 0 0 6.25vw;
    }
}
}



/* -------- Media Querry: Large -------- */

@include large {

.header__container {
    position: relative;
    border-bottom: 2px solid $mercury;
    margin-left: unset;
    margin-right: unset;
    padding: 0 12.5vw
    }

.header__search-bar {
    width: 17.5vw;
    position: relative;
    }

.header__search-icon {
    position: absolute;
    top: 62px;
    left: 790px;
    }
}

.header__search-content {
    margin-left: 210.9px;
}

.upload {
    margin: 0 12.5vw;

     &__title {
        margin-top: 0;
        border-top: none;
        padding: 40px 0;
        border-bottom: 2px solid $mercury;
    }

    &__header {
        display: block;
        width: 20%;
        margin-top: 40px;
        margin-bottom: unset;
    }

    &__img {
        width: 23.89vw;
        height: 12.70vw;
    }

    &__input {
        display: inline-block;
        height: 3.528vw;
        width:  74.44vw;
    }
    
    &__description {
        display: inline-block;
        height: 5.8vw;
        width:  74.44vw;
    }
}


.upload__wrap {
    position: relative;
    bottom: 29px;
    display: flex;
    flex-direction: column;
    float: right;
}

.upload__input, .upload__description {
    display: inline-block;
    width: 49vw;
}


.upload__button-container {
    display: inline-block;
    width: 50%;
    display: flex;
    flex-flow: row-reverse;
    margin-left: 37.5vw;

}

.upload__publish, .upload__cancel {
    margin-left: unset;
    width: 11.11vw;
}

