.comment-container {
    margin: 0 5vw;
    display: flex;
    border-bottom: 2px solid $mercury;
}

.comment-box {
    margin-left: 5vw;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-name, .comment-date {
    display: inline-block;
    font-size: 15px;
    margin-top: unset;
    margin-top: 20px;
    margin-bottom: unset;
}

.comment-comment {
    font-size: 14px;
    line-height: 1.45;
    margin-bottom: 20px;
}

.comment-date {
    color: $silver;
    font-family: 'AvenirNextRegular';
}

.comment-avatar {
    margin-top: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}



/* -------- Media Querry: Tablet -------- */

@include medium {

.comment-container {
    margin: 0 3.125vw;
    display: flex;
}
.comment-box {
    width: 81.25vw;
}
.comment-header {
    display: flex;
    justify-content: flex-start;

}

 .comment-date {
        margin-left: 2vw;
    }

.comment__avatar-img {
    margin-top: 24px;
}

.comment-box, .form {
    margin-left: 2.083vw;
}

.form-input {
    width: 57vw;
    margin-bottom: 24px;
}

}

/* -------- Media Querry: Desktop -------- */

@include large {

    .comment-section {
        margin-left: 12.5vw;
        width: 49vw;
        display: inline-block;
    }

    .comment-box {
        margin-right: 1.67vw;
        width: 40vw;
    }

    .comment-avatar {
        margin-top: 30px;
    }

    .form-input {
        display: inline-block;
        width: 30.28vw;
        margin-bottom: unset;
    }

    .form-submit {
        margin: unset;
        margin-right: 2.5vw;
        margin-bottom: 24px;
        width: 10vw;
    }

    .comment-container {
        width: 49.44vw;
        margin: unset;
    }

    .cooment-avatar {
        margin-top: 0;
    }
}