

.video-header {
    color: $silver;
    margin: 40px 5vw;
    }

.video {
    display: flex;
    margin: 0 5vw;

    
    &-img {        
    width: 37.5vw;
    height: 21.875vw;
    border-radius: 5px;
    margin-bottom: 24px;
    }
}

.title-wrap {
    margin-left: 5vw;
    width: 100%;
}

.title {
    margin: unset;
    font-size: 11px;
    line-height: 1.5;
}

.author {
    font-size: 11px;
}



/* -------- Media Querry: Tablet -------- */

@include medium {

.video {
    margin: 0 3.125vw;
    }

.video-header {
    margin: 40px 3.125vw;
}

.video-img {        
    width: 15.625vw;
    height: 9.114583vw;
    border-radius: 5px;
    margin-bottom: 24px;
    }

    .title-wrap {
    margin-left: 2.5vw;
    width: 60%;
    }

.title, .author {
    width: 40%;
    font-size: 14px;
    line-height: 1.4;
    }
}